
@{
    ViewBag.Title = "Index";
}

<div id="tableContainer">
    @{
        Html.RenderAction("ProductsTable");
        //Html.RenderAction("Create");
    }
</div>

<div id="actionContainer">

</div>

